@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .scrollbar-transparent::-webkit-scrollbar {
      width: 0px;
   }
}

@layer components {
   .alink-primary {
      @apply alink text-blue-500 before:bg-blue-500
   }
   .alink-dashboard {
      @apply alink text-dashLink before:bg-dashLink
   }
   .link-dashboard {
      @apply underline underline-offset-4 text-dashLink hover:text-dashLinkHover transition-all
   }
   .link-dashboard-external {
      @apply flex items-center underline underline-offset-4 text-dashLink hover:text-dashLinkHover transition-all
   }
   .link-dashboard-heading {
      @apply flex items-center font-semibold underline underline-offset-4 text-dashLink hover:text-dashLinkHover  transition-all
   }
}

/* hide anything */
.desse {
   display: none !important;
}

/* button css for dashboard */

.btn-dashLink {
   @apply h-10 bg-dashLink rounded-md hover:bg-dashLinkHover text-white box-border flex items-center justify-center text-[0.875rem] py-2 px-4 transition-all cursor-pointer
}

.btn-dashLink-danger {
   @apply h-10 bg-red-500 rounded-md hover:bg-red-700 text-white box-border flex items-center justify-center text-[0.875rem] py-2 px-4 transition-all cursor-pointer
}

.btn-dashLink-disabled {
   @apply h-10 bg-dashLink/70 rounded-md text-white/90 box-border flex items-center justify-center text-[0.875rem] py-2 px-4
}

.btn-dashLink-outline {
   @apply h-10 bg-white text-dashLink border-[1px] border-dashLink hover:border-dashLinkHover hover:text-white hover:bg-dashLinkHover rounded-md box-border flex items-center justify-center text-[0.875rem] py-2 px-4  transition-all
}

.iconBtn-dashLink-outline {
   @apply h-10 bg-white text-dashLink border-[1px] border-dashLink hover:border-dashLinkHover hover:text-white hover:bg-dashLinkHover rounded-md box-border flex items-center justify-center text-[0.875rem] p-2 transition-all
}

/* ---------- animated underline for link ----------  */
.alink {
   position: relative;
}

.alink:hover {
   text-decoration: none !important;
}

.alink:before {
   content: "";
   display: block;
   position: absolute;
   bottom: 0px;
   left: 0px;
   right: 0px;
   width: 0px;
   height: 1px;
   -webkit-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
}

.alink:hover::before {
   width: 100%;
   text-underline-offset: 2px;
}